<html>
    <head>
        <title>MiRecipe - Home</title>
    </head>

    <body>
        <div class='hero-landing'>
            <h2>Recipe of the Day</h2>
            <img src='' alt=''>
            <h3>Asian Glazed Chicken</h3>
            <p>Curabitur augue dui, vehicula et sapien sagittis, egestas ullamcorper ligula. Nulla turpis elit, egestas ac euismod at, imperdiet fringilla leo.</p>
            <img src='' alt=''>
        </div>

        <div class='categories'>
            <img src='' alt=''>
            <h3>Breakfast</h3>
            <img src='' alt=''>
            <h3>Lunch</h3>
            <img src='' alt=''>
            <h3>Dinner</h3>
            <img src='' alt=''>
            <h3>Appetizers</h3>
            <img src='' alt=''>
            <h3>Desserts</h3>
        </div>
    </body>
</html>