<html>
    <head>
        <title>MiRecipe - Home</title>
    </head>

    <body>
        <div class='hero-landing'>
            <h2>Recent Recipes</h2>
            <% Recipe.all.last(5).reverse.each do |recipe| %>
            <h3><%= recipe.title %></h3>
            <p>Category: <%= recipe.category %></p>
            <p><%= recipe.description %></p>
            <p><a href="/recipes/<%= recipe.id %>">View Recipe</a></p>
            <% end %>
        </div>

        <div class='categories'>
            <img src='' alt=''>
            <h3>Breakfast</h3>
            <img src='' alt=''>
            <h3>Lunch</h3>
            <img src='' alt=''>
            <h3>Dinner</h3>
            <img src='' alt=''>
            <h3>Appetizers</h3>
            <img src='' alt=''>
            <h3>Desserts</h3>
        </div>
    </body>
</html>