<!DOCTYPE html>

<html>
    <head>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='css/styles.css?v=1.0'>
    </head>

    <body>
        <header>
            <h1>MiRecipe</h1>
            <nav>
                <ul>
                    <li><a href='#'>Categories</a></li>
                    <li><a href='#'>Favorites</a></li>
                    <li><a href='#'>Profile</a></li>
                    <li><a href='#'>Login</a></li>
                </ul>
            </nav>
        </header>

        <%= yield %>

        <footer>
            &copy; Copyright 2020 MiRecipe
            <div class='wrapper'>
                <ul>
                    <li><a href='#'>Categories</a></li>
                    <li><a href='#'>Favorites</a></li>
                    <li><a href='#'>Profile</a></li>
                    <li><a href='#'>Login</a></li>
                </ul>
            </div>
        </footer>
    </body>
</html>