<!DOCTYPE html>

<html>
    <head>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='css/styles.css?v=1.0'>
    </head>

    <body>
        <header>
            <h1><a href='/'>MiRecipe</a></h1>
            <nav>
                <ul>
                    <% if Helpers.is_logged_in?(session) %>
                        <li><a href='/profile'>Profile</a></li>
                        <li><a href='/recipes/new'>Add Recipe</a></li>
                        <li><a href='/logout'>Logout</a></li>
                    <% else %>
                        <li><a href='/login'>Login</a></li>
                        <li><a href='/signup'>Signup</a></li>
                    <% end %> 
                </ul>
            </nav>
        </header>

        <%= yield %>

        <footer>
            &copy; Copyright 2020 MiRecipe
            <div class='wrapper'>
                <ul class='footer-pages'>
                    <li><a href='#'>Categories</a></li>
                    <li><a href='#'>Favorites</a></li>
                    <% if Helpers.is_logged_in?(session) %>
                        <li><a href='/profile'>Profile</a></li>
                    <% end %>
                </ul>
                <ul class='footer-social'>
                    <li><img src='' alt='Instagram'></li>
                    <li><img src='' alt='Twitter'></li>
                    <li><img src='' alt='Facebook'></li>
                </ul>
            </div>
        </footer>
    </body>
</html>